In [1]:
import requests
import json
import pandas as pd
from datetime import date, datetime, timedelta

In [2]:
from amadeus import Client, ResponseError

amadeus = Client(
    client_id='eXya3OTX00wsuNXBGgp9KGPbLYwSOOGI',
    client_secret='ZtWWaZ3v56NtZAAp'
)

In [3]:
start_date = date(2025, 3, 22)
end_date = date(2025, 3, 31)

date_list = [(start_date + timedelta(days=i)).strftime('%Y-%m-%d') for i in range((end_date - start_date).days + 1)]

from itertools import combinations

cities = ['ORD', 'MDW', 'LAX', 'SNA', 'LGA', 'EWR', 'JFK']

city_pairs_list = [list(pair) for pair in combinations(cities, 2)]

In [4]:
response = amadeus.shopping.flight_offers_search.get(
    originLocationCode='ORD',
    destinationLocationCode='LGA',
    departureDate='2025-05-01',
    adults=1,
    travelClass='ECONOMY',
    nonStop='true',
    currencyCode='USD',
    max=100).result

In [8]:
flight_data = []
for i in range(len(response['data'])):
    data = {
            "dep_code": response['data'][i]['itineraries'][0]['segments'][0]['departure']['iataCode'],
            "dep_datetime": response['data'][i]['itineraries'][0]['segments'][0]['departure']['at'],
            "arv_code": response['data'][i]['itineraries'][0]['segments'][0]['arrival']['iataCode'],
            "arv_datetime": response['data'][i]['itineraries'][0]['segments'][0]['arrival']['at'],
            "airline_code": response['data'][i]['itineraries'][0]['segments'][0]['carrierCode'],
            "flight_no": response['data'][i]['itineraries'][0]['segments'][0]['number'],
            "price_total": response['data'][i]['price']['grandTotal'],
            "seats_remaining": response['data'][i]['numberOfBookableSeats']
        }
    flight_data.append(data)

df = pd.DataFrame(flight_data)
df

,dep_code,dep_datetime,arv_code,arv_datetime,airline_code,flight_no,price_total,seats_remaining
0,ORD,2025-05-01T06:00:00,LGA,2025-05-01T09:11:00,UA,680,108.48,9
1,ORD,2025-05-01T07:00:00,LGA,2025-05-01T10:11:00,UA,1657,108.48,9
2,ORD,2025-05-01T08:00:00,LGA,2025-05-01T11:16:00,UA,2200,108.48,9
3,ORD,2025-05-01T14:00:00,LGA,2025-05-01T17:15:00,UA,2306,108.48,2
4,ORD,2025-05-01T20:00:00,LGA,2025-05-01T23:18:00,UA,1576,147.46,9
5,ORD,2025-05-01T13:00:00,LGA,2025-05-01T16:13:00,UA,2189,178.50,9
6,ORD,2025-05-01T12:00:00,LGA,2025-05-01T15:15:00,UA,216,178.50,9
7,ORD,2025-05-01T16:00:00,LGA,2025-05-01T19:15:00,UA,1946,178.50,9
8,ORD,2025-05-01T18:00:00,LGA,2025-05-01T21:18:00,UA,1006,178.50,9

In [6]:
data

{'dep_code': 'ORD',
 'dep_datetime': '2025-05-01T18:00:00',
 'arv_code': 'LGA',
 'arv_datetime': '2025-05-01T21:18:00',
 'airline_code': 'UA',
 'flight_no': '1006',
 'price_total': '178.50',
 'seats_remaining': 9}

In [7]:
r = a.shopping.flight_offers_search.get(
    originLocationCode = city_pairs_list[0][0],
    destinationLocationCode = city_pairs_list[0][1],
    departureDate= date_list[0],
    adults = 1,
    travelClass = 'ECONOMY',
    currencyCode = 'USD',
    max = 1
).result

NameError: name 'a' is not defined

In [ ]:
r

In [ ]:
data = None

try:
    response = a.shopping.flight_offers_search.get(
        originLocationCode='MAD',
        destinationLocationCode='ATH',
        departureDate='2025-5-01',
        adults=1,
        max=1)
    data = response.data
except ResponseError as error:
    print(error)

In [ ]:
data

In [ ]:
data